/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.dark.css';

.btn{
    background-color:red;
    color: #000;
    width:200;
    height:50;
    font-weight: bold;
    font-family: "iconmoon";
}
.img{
    width:150;
    height:100;
}
.icon {
    font-family: "FontAwesome";
    font-size:20px;
}